$button-include-ui-menu-arrows: true;
$font-family: Roboto Light;
$form-field-background-image: "";
$form-field-font-size: 18px;
$form-field-height: 46px;
$fieldset-header-font-weight: normal;
$fieldset-header-padding: 10 13px 11px;
$fieldset-margin: 0 0 10;
$fieldset-padding: 12px 0px;
$menu-item-arrow-width: 0px;
$menu-item-icon-size: 0px;
$panel-base-color: #b5b8c8;
$panel-body-background-color: transparent;
$panel-border-color: #b5b8c8;